.top-page-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-name {
  font-size: 40px;
  color: #FAFAFA;
  text-decoration: none;
}

.lists {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  list-style: none;
}

.login {
  font-size: 20px;
  color: #FAFAFA;
  text-decoration: none;
}

.sign-up{
  font-size: 20px;
  color: #FAFAFA;
  text-decoration: none;
}

.logout{
  font-size: 20px;
  color: #FAFAFA;
  text-decoration: none;
}

.wrapper {
  display: flex;
}

.side-bar {
  background-color: #EBE4CB;
  width: 300px;
  height: 100vh;
}

.teacher-rooms {
  background-color: #EBE4CB;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: #253141;
}

.student-room {
  background-color: #1A545A;
  width: calc(100vw - 300px);
}

.title-name-create {
  background-color: #1A545A;
  padding: 10px 10px;
}

.title-name-create a {
  font-size: 20px;
  color: #FAFAFA;
  text-decoration: none;
  border: 1px solid darkred;
  padding: 10px 10px;
}
.report-title {
  background-color: #1A545A;
  height: calc(100vh - 40px);
  padding: 46px 40px 0;
  overflow: scroll;
}
