<header class="top-page-header">
  <%# <div class="nav"> %>
    <a class="title-name" href="#">STUDY REPORT</a>
    <ul class="lists">
      <li><a class="login" href="/users/sign_in">ログイン</a></li>
      <li><a class="sign-up" href="/users/sign_up">新規登録</a></li>
    </ul>
  <%# </div> %>
</header>

<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="student-room">
    <%= render "main_room" %>
  </div>
</div>